# Redis configuration
REDIS_USERNAME=username
REDIS_PASSWORD=12345567890abcdefghijklmnopqrstuvwxyz
REDIS_HOST=redis-host.db.redis
REDIS_PORT=1234 | 6379 (default)

# Application port
PORT=3000

# Rate Limiter configuration
RL_EXPIRATION_TIME_IN_SECONDS=60
RL_LIMIT_CALLS=10